<template name="mainFrame">
  <head>
    <title>Scool yo !</title>
  </head>

  <body>
    {{#if isLoggedIn}}
    <div class="welcome-main">

      <div class="page-header">
	<h1>Welcome to school <small>{{userName}}</small>
	  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	  <button id="logout-btn" type="button" class="btn btn-default pull-right"> <span class="glyphicon glyphicon-log-out" /> Log out</button></h1>
      </div>

      {{yield}}

    </div>
    {{else}}
    {{yield}}
    {{/if}}

  </body>
</template>
